{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'js/jquery/jquery.min.js' %}"> </script>
    <script src="{% static 'js/react/react.js' %}"> </script>

    {% block head %} {% endblock %}

</head>

<body>
    <div class="header">
        <h1>HEADER</h1>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footerl">
        <h5>FOOTER </h5>
    </div>

    {% block footer %}
    {% endblock %}
</body>

</html>

